@import "~normalize.css";
@import "./local.reset.css";

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  /* use Helvetica/Arial as fallbacks */
  font-family: neo-sans, Helvetica, Arial, sans-serif;
  overscroll-behavior: none;

  overflow: hidden;
}

:root {
  /* ----------------- Typography scale system: ----------------- */
  /* https://utopia.fyi/type/calculator/?c=320,16,1.1179,2560,32,1.143,5,6,&s=0.75%7C0.5%7C0.25,1.5%7C2%7C3%7C4%7C6,s-l */
  --step--6: clamp(0.9rem, calc(0.46rem + 0.27vw), 0.51rem);
  --step--5: clamp(1.03rem, calc(0.51rem + 0.32vw), 0.57rem);
  --step--4: clamp(1.17rem, calc(0.56rem + 0.38vw), 0.64rem);
  --step--3: clamp(1.34rem, calc(0.63rem + 0.45vw), 0.72rem);
  --step--2: clamp(1.53rem, calc(0.7rem + 0.52vw), 0.8rem);
  --step--1: clamp(1.75rem, calc(0.77rem + 0.61vw), 0.89rem);
  --step-0: clamp(1rem, calc(0.86rem + 0.71vw), 2rem);
  --step-1: clamp(1.12rem, calc(0.95rem + 0.83vw), 2.29rem);
  --step-2: clamp(1.25rem, calc(1.06rem + 0.97vw), 2.61rem);
  --step-3: clamp(1.4rem, calc(1.17rem + 1.14vw), 2.99rem);
  --step-4: clamp(1.56rem, calc(1.3rem + 1.32vw), 3.41rem);
  --step-5: clamp(1.75rem, calc(1.44rem + 1.54vw), 3.9rem);

  /* ----------------- Primary palette colors: ----------------- */

  /* Buttons */
  --color-primary-button-background: #ee0000;
  --color-primary-button-background-hover: #7a2936;
  --color-primary-button-text: #ffffff;

  --color-secondary-button-background: #66675d;
  --color-secondary-button-background-hover: #2b2e34;
  --color-secondary-button-text: #ffffff;

  /* Body */
  --color-primary-body-text: #000000;
  --color-secondary-body-text: #66675e;

  --color-primary-body-background: #f8f8f7;
  --color-secondary-body-background: #ffffff;
  --color-tertiary-body-background: #000000;

  /*  ----------------- Space props:  ----------------- */
  /* 1.25rem(20px) @ 20rem(320px) increasing to 10.3125rem(165px) @ 160rem(2560px) */
  --x: clamp(1.25rem, calc(1.25rem + ((1vw - 0.2rem) * 6.4732)), 10.3125rem);

  /* ----------------- Header props: ----------------- */

  /* 1.25rem(20px) @ 20rem(320px) increasing to 3rem(48px) @ 160rem(2560px) */
  --header-vertical-padding: clamp(
    1.25rem,
    calc(1.25rem + ((1vw - 0.2rem) * 1.25)),
    3rem
  );

  /* 2.16375rem(34.62px) @ 20rem(320px) increasing to 5.75rem(92px) @ 160rem(2560px) */
  --header-logo-height: clamp(
    2.16375rem,
    calc(2.16375rem + ((1vw - 0.2rem) * 2.5616)),
    5.75rem
  );

  --header-height: calc(
    2 * var(--header-vertical-padding) + var(--header-logo-height)
  );

  /* ----------------- Buttons props: ----------------- */
  /* 0.6875rem(11px) @ 20rem(320px) increasing to 1.6875rem(27px) @ 160rem(2560px) */
  --button-horizontal-padding: clamp(
    0.6875rem,
    calc(0.6875rem + ((1vw - 0.2rem) * 0.7143)),
    1.6875rem
  );

  /* 0.573125rem(9.17px) @ 20rem(320px) increasing to 1.40625rem(22.5px) @ 160rem(2560px) */
  --button-vertical-padding: clamp(
    0.573125rem,
    calc(0.573125rem + ((1vw - 0.2rem) * 0.5951)),
    1.40625rem
  );

  --button-minimum-height: 36px;

  /* Safari resize fix */
  min-height: 0vw;
}

body {
  color: var(--color-primary-body-text);
  background-color: var(--color-tertiary-body-background);
  font-weight: var(--font-weight-regular);
  line-height: 1.375;
}

/* Remove scroll bar  */
*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
/* Remove scroll bar firefox */
* {
  scrollbar-width: none;
}

/* ------------------------------------------ Neo Sans W1G fonts */
/* Regular */
@font-face {
  font-family: "neo-sans";
  src: url("/fonts/neo-sans-regular-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: "neo-sans";
  src: url("/fonts/neo-sans-medium-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* font-family: neo-sans, sans-serif;
font-weight: 400;
font-style: normal; */

/* font-family: neo-sans, sans-serif;
font-weight: 500;
font-style: normal; */
