@import "~normalize.css";
@import "./local.reset.css";

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  /* use Helvetica/Arial as fallbacks */
  font-family: neo-sans, Helvetica, Arial, sans-serif;
  overscroll-behavior: none;

  overflow: hidden;
}

:root {
  /* ----------------- Typography scale system: ----------------- */
  /* https://utopia.fyi/type/calculator/?c=320,16,1.1179,2560,32,1.143,5,6,&s=0.75%7C0.5%7C0.25,1.5%7C2%7C3%7C4%7C6,s-l */

  --step--6: clamp(0.90rem, calc(0.46rem + 0.27vw), 0.51rem);
  --step--5: clamp(1.03rem, calc(0.51rem + 0.32vw), 0.57rem);
  --step--4: clamp(0.64rem, calc(0.56rem + 0.38vw), 1.17rem);
  --step--3: clamp(0.72rem, calc(0.63rem + 0.45vw), 1.34rem);
  --step--2: clamp(0.80rem, calc(0.70rem + 0.52vw), 1.53rem);
  --step--1: clamp(0.89rem, calc(0.77rem + 0.61vw), 1.75rem);
  --step-0: clamp(1.00rem, calc(0.86rem + 0.71vw), 2.00rem);
  --step-1: clamp(1.12rem, calc(0.95rem + 0.83vw), 2.29rem);
  --step-2: clamp(1.25rem, calc(1.06rem + 0.97vw), 2.61rem);
  --step-3: clamp(1.40rem, calc(1.17rem + 1.14vw), 2.99rem);
  --step-4: clamp(1.56rem, calc(1.30rem + 1.32vw), 3.41rem);
  --step-5: clamp(1.75rem, calc(1.44rem + 1.54vw), 3.90rem);

  /* ----------------- Primary palette colors: ----------------- */

  /* Body */
  --color-primary-body-text: #ffffff;
  --color-primary-body-text-on-hover: #000000;

  --color-primary-body-background: #000000;


  /*  ----------------- Space props:  ----------------- */
  /* 1.25rem(20px) @ 20rem(320px) increasing to 10.3125rem(165px) @ 160rem(2560px) */
  --x: clamp(1.25rem, calc(1.25rem + ((1vw - 0.2rem) * 6.4732)), 10.3125rem);

  /* Safari resize fix */
  min-height: 0vw;


  /* Handle share button visibility */
  --share-button-visibility: hidden;
}

body {
  color: var(--color-primary-body-text);
  background-color: var(--color-primary-body-background);
  font-weight: var(--font-weight-regular);
  line-height: 1.375;
}

/* Remove scroll bar  */
*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
/* Remove scroll bar firefox */
* {
  scrollbar-width: none;
}

/* ------------------------------------------ Neo Sans W1G fonts */
/* Regular */
@font-face {
  font-family: "neo-sans";
  src: url("/fonts/neo-sans-regular-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: "neo-sans";
  src: url("/fonts/neo-sans-medium-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* font-family: neo-sans, sans-serif;
font-weight: 400;
font-style: normal; */

/* font-family: neo-sans, sans-serif;
font-weight: 500;
font-style: normal; */
